body{
    text-align: center;
}

#Logo{
    width: 800px;
    height: 563px;
}

img{
    width: 350px;
}

.cars{
    display: inline;
}

#mycarousel img{
    height: 300px;
    margin-top:25px;
}

.carousel-inner{
    margin-top: 15px;
    margin-bottom: 15px;
    color:black;
}